<!DOCTYPE html>
<html>
<head>
	<!-- Title Block -->
	{% block title %}
	<title>Mika's Music Academy</title>
	{% endblock %}

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
	</script>

	<!-- Add additional CSS in static file -->
	{% load static %}


	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

	<div class="container">

		<header>
			{% block body_header %}
				<div id="logo_container">
				<img id= "logo" src="{% static 'images/logo.png' %}" >
				</div>
			{% endblock %}
		</header>

		<div id="nav">
			{% block navigation %}
			{% endblock %}
		</div>

		<div id="content">
			{% block content %}
			{% endblock %}
		</div>

  		<footer>
  		<br><br><br><br><br><br><br><br>
  		<h4 style="color:#ededed;">&copy; 2018 Scrumbois Development Co.</h4>

  		<h5 style="color:#ededed;">2 George Street, Brisbane, QLD, Australia 4000</h5>

  		</footer>

  	</div>
<script src="{% static 'js/script.js' %}"></script>
</body>

</html>