/* Font Styles Here */
* {
  font-family: 'Open Sans', sans-serif;
}

body {
    background-image: url('../images/bg.jpeg');
}

h1 {
  color: #4286f4;
  text-align: center;
}

h2 {
  color: #f4414d;
  text-align: center;
}

h3 {
  color: #f4a341;
  text-align: center;
}





header {
  width: 100%;
  display: inline-block;
  color: white;
  vertical-align: top;
}

#frontpage{
  width: 60%;
  display: inline-block;
  color: white;
  vertical-align: top;
}

#home_buttons{
  width:39%;
  display: inline-block;
  vertical-align: top;
  padding-top: 20%;
}

#logo_container{
width: 75%;
margin: auto;

}

#logo{
width:100%;
}

footer {
  padding: 0;
  margin: 0;
  height:30vh;
  background: #1e1e1e;
  border-top:2px solid white;
  color:white;
  text-align: center;
}

.nav {

}

.body {


}

.button {
  background-color: #4286f4; /* Matching title blue */
  border-radius: 4px;
  color: white;
  padding: 16px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* For use with Safari */
  transition-duration: 0.4s;
  cursor: pointer;

  text-decoration: none;
  height: 20px;
}

.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #1e1e1e;
}

.button1:hover {
    background-color: #1e1e1e;
    border: 2px solid #efefef;
    color: white;
}


.form {
  margin-left:auto;
  margin-right:auto;
  max-width: 500px;
  background: #F7F7F7;
  padding: 25px 15px 25px 10px;
  font: 12px Georgia, "Times New Roman", Times, serif;
  color: #888;
  text-shadow: 1px 1px 1px #FFF;
  border:1px solid #E4E4E4;
}

.form label {
    display: block;
    margin: 0px;
}

.form label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #888;
}

.form button {
  background: #E27575;
  border: none;
  padding: 10px 25px 10px 25px;
  color: #FFF;
  box-shadow: 1px 1px 5px #B6B6B6;
  border-radius: 3px;
  text-shadow: 1px 1px 1px #9E3F3F;
  cursor: pointer;
}

.form button:hover {
  background: #CF7A7A
}

.form .form-header {
  margin: 0;
  padding: 10px;

  text-align: left;
  font-size: 32pt;
}

.form input[type="text"], .form input[type="password"], .form input[type="email"], .form input[type="number"], .form textarea, .form select {
  border: 1px solid #DADADA;
  color: #888;
  height: 30px;
  margin-bottom: 16px;
  margin-right: 6px;
  margin-top: 2px;
  outline: 0 none;
  padding: 3px 3px 3px 5px;
  width: 70%;
  font-size: 12px;
  line-height:15px;
  box-shadow: inset 0px 1px 4px #ECECEC;
  -moz-box-shadow: inset 0px 1px 4px #ECECEC;
  -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}

.form .form-group {
  display: inline;
}

.form fieldset {
  margin-top: 15px;
  margin-left: 0;
  padding: 10px;

  border: 1px solid #DADADA;
  box-shadow: inset 0px 1px 4px #ECECEC;
}

.form fieldset legend {
  text-align: left;
  margin-left: 0;
}

p{
  font-size: 20px;
  color:black;
}
