<!DOCTYPE html>
<html>
<head>
	<title>Mila's Music Academy</title>
	<link rel="stylesheet" type="text/css" href="../static/css/style2.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>

	<div id="content-left">
		<img id="logo" src="../static/images/logo.png"/>
	</div>

	<div id="content-right">
		<div id="select">
			<div class="login">
				<img class="login-image" src="../static/images/student.png"/>
				<button class="login-button">Student Login</button>
			</div>

			<div class="login">
				<img class="login-image" src="../static/images/teacher.png"/>
				<button class="login-button">Teacher Login</button>
			</div>


		</div>
	</div>

</body>
</html>