<!DOCTYPE html>
<html>
<head>
	<!-- Title Block -->
	{% block title %}
	<title>Mila's Music Academy - Home</title>
	{% endblock %}

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
	</script>
	<!-- Add additional CSS in static file -->
  	{% load static %}
  	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
	<div class="flex-container">
    <header>
      <h1>Mila's Music Acadamy</h1>
    </header>
    <body class="body">
    {% block body_title %}
    <h2>Welcome</h2>
    {% load static %}
    <img src="{% static 'images/instruments.jpg' %}" alt="ScrumBois Instruments" style="padding-left: 0%; width: 70%; height: 70%;"/>
    {% endblock %}
    {% block body_content %}
	<form onsubmit="null">
		<label>Username</label>

		<br>

		<input type="text" name="username">

		<br>
		
		<label>Password</label>

		<br>

		<input type="password" name="password">
		
		<br>
		
		<input type="submit" name="submit">
	</form>
	{% endblock %}
	</div> <!-- end body class -->
</body>

<footer>Page produced by Scrumbois &copy; using Django</footer>

</html>