<!DOCTYPE html>
<html>
<head>
	<!-- Title Block -->
	{% block title %}
	<title>Mila's Music Academy</title>
	{% endblock %}

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
	</script>
	<!-- Add additional CSS in static file -->
  	{% load static %}
  	<link rel="stylesheet" href="{% static 'css/styles2.css' %}">
</head>

<body>

<div id="header">
	{% block body_title %}
	<h1>Header</h1>
	{% endblock %}
</div>

<div id="left-nav">
	{% block left_nav %}
	{% load static %}
	<img src="{% static 'images/instruments.jpg' %}" height="190" width="200">

	<table align="centre">
		<tr>
			<td>
			<button class="button button1">Button 1</button>
			</td>
		</tr>
		<tr>
			<td>
			<button class="button button1">Button 2</button>
			</td>
		</tr>
		<tr>
			<td>
			<button class="button button1">Button 3</button>
			</td>
		</tr>
		<tr>
			<td>
			<button class="button button1">Button 4</button>
			</td>
		</tr>
	</table>
	{% endblock %}

</div>

<div id="main-contnet">
{% block body_content %}
	<form onsubmit="null">
		<label>Username</label>

		<br>

		<input type="text" name="username">

		<br>
		
		<label>Password</label>

		<br>

		<input type="password" name="password">
		
		<br>
		
		<input type="submit" name="submit">
	</form>
	{% endblock %}
</div>

<div id="right-nav">
	{% block right_nav %}
	{% endblock %}
</div>

<div id="footer">
	<h3>Page produced by Scrumbois &copy; using Django</h3>
</div>

</body>

</html>