{% extends "general_template.html" %}
{% load static %}

<!-- TITLE ################################# -->

{% block title %}

	{% if user.is_authenticated %}

	<title>Schedule - {{ user.get_full_name }}</title>


	{% else %}

	<title>Mika's Music Academy</title>

	{% endif %}

{% endblock %}

<!-- HEADER ################################# -->

{% block body_header %}

	{% if user.is_authenticated %}
	<div id="logo_container">

	<img id= "logo" src="{% static 'images/logo.png' %}">


	</div>
    <p class="welcome">Welcome, {{ user.get_full_name }}.</p>
	{% else %}
	<div id="logo_container">

	<img id= "logo" src="{% static 'images/logo.png' %}">

	</div>


	{% endif %}

{% endblock %}

<!-- NAVIGATION ################################# -->

{% block navigation %}

	{% if user.is_authenticated %}


	<a class="navbutton" href="{% url 'index' %}">Schedule</a>
	<a class="navbutton" href="{% url 'profile' %}">Profile</a>
	<a class="navbutton" href="{% url 'instrument' %}">Book Instrument</a>

	<a class="navbutton" href="{% url 'logout' %}">Logout</a>


	{% endif %}

{% endblock %}

<!-- CONTENT ################################# -->

{% block content %}

	{% if user.is_authenticated %}
	<div id="page-title">
	    <h2>Schedule</h2>
	    <a href="/lesson/new">
	    <button class="button button1">+ New Lesson</button>
	    </a>
    </div>
	{% for obj in lessons %}
		{% if obj.lesson_student_id == user.id or obj.lesson_teacher_id == user.id %}
		    <div class="lesson-module">
		    <p class="lesson-text" style="display: inline-block; width: 80%;  ">{{obj.lesson_time}}</p>
		    <div class="collapse"</div><img src="{% static 'images/collapse.png' %}"/></div>
		    <div class="expand"</div><img src="{% static 'images/expand.png' %}"/></div>
		        <div class="hidelesson">
		            <hr>
			<p class="lesson-title">Duration</p>
			<p class="lesson-text">{{obj.lesson_duration}} minutes</p>
			<p class="lesson-title">Location</p>
			<p class="lesson-text">Room {{obj.lesson_location}}</p>
			<p class="lesson-title">Student</p>
			<p class="lesson-text">{{obj.lesson_student.get_full_name}}</p>
			<p class="lesson-title">Teacher</p>
			<p class="lesson-text">{{obj.lesson_teacher.get_full_name}}</p>
			<p class="lesson-title">Instrument</p>
			<p class="lesson-text">{{obj.lesson_instrument}}</p>





            </div>
            </div>
		{% endif %}

	{% endfor %}


	{% else %}






	<div id="home_buttons">
		<p>Login, or Sign Up.</p>
		<a class="button button1" href="{% url 'login' %}">Login</a>
		<a class="button button1" href="{% url 'register' %}">Register</a>
	</div>


	{% endif %}

{% endblock %}

<!-- ################################# -->









