{% extends "general_template.html" %}

{% block left_nav %}
<table align="centre">
		<tr>
			<td>
			<button class="button button1" onclick="location.href='{% url 'schedule' %}'">Lessons Schedule</button>
			</td>
		</tr>
		<tr>
			<td>
			<button class="button button1" onclick="location.href='{% url 'instruments' %}'">Instruments</button>
			</td>
		</tr>
		<tr>
			<td>
			<button class="button button1">Contracts</button>
			</td>
		</tr>
		<tr>
			<td>
			<button class="button button1">Reports</button>
			</td>
		</tr>
	</table>

{% endblock %}

{% block body_content %}
<table style="padding-left: 35%; padding-top: 35%">
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td>
		<form onsubmit="null">
		<label>Username</label>

		<br>

		<input type="text" name="username">

		<br>
		
		<label>Password</label>

		<br>

		<input type="password" name="password">
		
		<br>
		
		<input type="submit" name="submit">
		</form>
		</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
</table>

{% endblock %}


