{% extends "general_template.html" %}

<!-- ################################# -->

{% block title %}

{% if user.is_authenticated %}

<!-- ################################# -->
	<title>Profile  - {{ user.get_full_name }}</title>
<!-- ################################# -->

{% else %}

<!-- ################################# -->
	<title>Login</title>
<!-- ################################# -->
        
{% endif %}

{% endblock %}

<!-- ################################# -->

{% block body_header %}

{% if user.is_authenticated %}

<!-- ################################# -->
	<h1>My Profile</h1>
<!-- ################################# -->

{% else %}

<!-- ################################# -->
	<h1>Mika's Music Academy</h1>
<!-- ################################# -->
        
{% endif %}

{% endblock %}

<!-- ################################# -->

{% block navigation %}

{% if user.is_authenticated %}

<!-- ################################# -->
	<a class="button button1" href="{% url 'index' %}">Home</a>
	<a class="button button1" href="{% url 'profile' %}">My Profile</a>
	<a class="button button1" href="{% url 'logout' %}">Logout</a>
<!-- ################################# -->

{% else %}

<!-- ################################# -->

<!-- ################################# -->
        
{% endif %}

{% endblock %}

<!-- ################################# -->

{% block content %}

{% if user.is_authenticated %}

<!-- ################################# -->
	<p>Username: {{ user.get_username }}</p>
	<p>Name: {{ user.get_full_name }}</p>
	<p>Email: {{ user.email }}</p>
	<p>Phone: {{ user.mobile_number }}</p>
	<p>Address: {{ user.street_number }} {{ user.street_name }}, {{ user.suburb }}, {{ user.state }}, {{ user.post_code }}</p>

	
	<p>Guardian Name: {{ user.guardian_first_name }} {{ user.guardian_last_name }}</p>
	<p>Guardian Phone: {{ user.guardian_mobile_number }}</p>
	<p>Guardian Email: {{ user.guardian_email }}</p>
	
<!-- ################################# -->

{% else %}

<!-- ################################# -->
	<a class="button button1" href="{% url 'login' %}">Login</a>
	<a class="button button1" href="{% url 'register' %}">Register</a>
<!-- ################################# -->
        
{% endif %}

{% endblock %}

<!-- ################################# -->