/* Font Styles Here */
h1 {
  color: #4286f4;
  text-align: center;
}

h2 {
  color: #f4414d;
  text-align: center;
}

h3 {
  color: #f4a341;
  text-align: center;
}

/*Page structure here*/
#header {
  width: 95vw;
  height: 10vh
  clear: both;
  border: 1px solid black;
}

#left-nav {
  width: 18vw;
  height: 80vh;
  float: left;
  border: 1px solid red;
  padding: 3px;
}

#main-contnet {
  width: 55.5vw;
  height: 80vh;
  float: left;
  border: 1px solid green;
  padding: 3px;
}

#right-nav {
  width: 20vw;
  height: 80vh;
  float: left;
  border: 1px solid blue;
  padding: 3px;
}

#footer {
  width: 95vw;
  height: 6vh;
  clear: both;
  border: 1px solid red;
}

/* Table Styling
th, td {
    padding: 15%;
}
*/

/* Button Styling */
.button {
  background-color: #4286f4; /* Matching title blue */
  border-radius: 4px;
  color: white;
  padding: 8px 16px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 2px 1px;
  -webkit-transition-duration: 0.4s; /* For use with Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #4286f4;
}

.button1:hover {
  background-color: #4286f4;
  color: white;
}